[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/nu/Documents/VR/AprilTagTrackers-Linux/AprilTagTrackers
GenericName[en_US]=
GenericName=
Icon=/home/nu/.icons/apriltag.png
MimeType=
Name[en_US]=AprilTagTrackers
Name=AprilTagTrackers
Path=/home/nu/.config/apriltag-trackers
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
