[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/linuko/Documents/Vtube/run-facetracker.sh
GenericName[en_US]=
GenericName=
Icon=/home/linuko/Documents/Vtube/OSF.png
MimeType=
Name[en_US]=OpenSeeFace
Name=OpenSeeFace
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=